@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* header */
.app {
    color: #1D1D11;
    font-family: 'Roboto Mono', monospace;
}

.nav {
    margin-left: 2.75%;
    font-weight: 600;
}